div {
    text-align: center;
}

#title {
    margin-top: 3vw;
}

#slider {
    margin-top: 3vw;
}

#animation {
    margin-top: 2vw;
}

#egoismRange {
    width: 60vw;
}

#egoismLabel {
    float: left;
    margin-left: 10vw;
}

#altruismLabel {
    float: right;
    margin-right: 10vw;
}
